/* Transição suave para o TabsToolbar */
#main-window #TabsToolbar {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out !important;
}

/* Toolbar items */
#main-window #TabsToolbar .toolbar-items {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out !important;
}

/* Estado oculto: TabsToolbar colapsado */
#main-window[titlepreface*="[Vtabs]"] #TabsToolbar {
    max-height: 0; /* Estado colapsado */
    visibility: hidden; /* Evita conteúdo interativo enquanto colapsado */
    transition: max-height 0.3s ease-in-out, visibility 0s 0.3s !important; /* atraso para ocultar */
}

/* Estado oculto para os itens da toolbar */
#main-window[titlepreface*="[Vtabs]"] #TabsToolbar .toolbar-items {
    max-height: 0;
}

/* Corrige o z-index de abas fixadas */
#main-window[titlepreface*="[Vtabs]"] #tabbrowser-tabs {
    z-index: 0 !important;
}
